<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="X-FRAME-OPTIONS" value="DENY" />
        <add name="X-XSS-PROTECTION" value="1" />
        <add name="X-CONTENT-TYPE-OPTIONS" value="nosniff" />
      </customHeaders>
    </httpProtocol>
    <rewrite>
      <rules>
        <rule name="redirect-to-https" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTPS}" pattern="off" />
            <add input="{HTTP_HOST}" pattern="localhost" negate="true" />
            <add input="{HTTP_METHOD}" pattern="GET|HEAD" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Found" />
        </rule>
        <rule name="wwwroot-static-files" stopProcessing="true">
          <match url="([\S]+[.](html|htm|svg|js|css|png|gif|jpg|jpeg|ico))" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_METHOD}" pattern="GET|HEAD" />
          </conditions>
          <action type="Rewrite" url="wwwroot/{R:1}" />
        </rule>
        <rule name="empty-root-index" stopProcessing="true">
          <match url="^$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_METHOD}" pattern="GET|HEAD" />
            <add input="{QUERY_STRING}" pattern="^$|^lc=" />
          </conditions>
          <action type="Rewrite" url="wwwroot/index.html" />
        </rule> 
        <rule name="html5-routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/api/|^/account/|^/printer" negate="true" />
            <add input="{HTTP_METHOD}" pattern="GET|HEAD" />
            <add input="{PATH_INFO}" pattern="^/expirecookie.aspx" negate="true" />
          </conditions>
          <action type="Rewrite" url="wwwroot/index.html" />
        </rule>
      </rules>
      <outboundRules>
        <rule name="strict-transport-security" enabled="true">
          <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="on" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" value="max-age=31536000" />
        </rule>
      </outboundRules>
    </rewrite>
    <handlers>
      <add name="StaticFileModuleHtml" path="*.htm*" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
      <add name="StaticFileModuleSvg" path="*.svg" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
      <add name="StaticFileModuleJs" path="*.js" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
      <add name="StaticFileModuleCss" path="*.css" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
      <add name="StaticFileModuleJpeg" path="*.jpeg" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
      <add name="StaticFileModuleJpg" path="*.jpg" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
      <add name="StaticFileModulePng" path="*.png" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
      <add name="StaticFileModuleGif" path="*.gif" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
      <add name="StaticFileModuleIco" path="*.ico" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
      <add path="/WebSocketServer.ashx" verb="*" name="WebSocketServer" type="WebSocketServer"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false" /> 
  </system.webServer>
  <location path="wwwroot/index.html">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="DisableCache" />
      </staticContent>
    </system.webServer>
  </location>
</configuration>